@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css");
@import "tailwindcss";

@theme {
  --color-main1: #eb427b;
  --color-main3: #eb427b14;
  --color-content-base: #231d33;
  --color-content-disabled: rgba(35, 29, 51, 0.4);
  --color-additive: rgba(35, 29, 51, 0.8);
  --color-assistive: rgba(35, 29, 51, 0.6);
  --color-fill-regular: rgba(154, 146, 173, 0.08);
  --color-outline-regular: rgba(154, 146, 173, 0.16);
  --color-fill-inverted: #141112;
  --color-inverted: #f2ebed;
  --color-disabled: rgba(51, 29, 36, 0.4);
  --color-divider-regular: rgba(173, 146, 155, 0.2);
  --color-danger-strong: #ff244b;
  --color-success-strong: #16b874;

  --shadow-dim-weak: 0 0 16px 0 rgba(51, 29, 36, 0.08);
}
@layer utilities {
  .shadow-dim-weak {
    box-shadow: var(--shadow-dim-weak);
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
    overscroll-behavior: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: none;
  }
}

@layer base {
  html,
  body {
    @apply overscroll-none;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100dvh;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SUIT Variable", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  height: 100%;
}

#root {
  width: 444px;
  max-width: 444px;
  height: 100%;
  background-color: white;
  position: relative;
}
