@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css");
@import "tailwindcss";

@theme {
  --color-main1: rgba(114, 66, 235, 1);
  --color-main2: rgba(114, 66, 235, 0.32);
  --color-main3: rgba(114, 66, 235, 0.08);
  --color-content-base: rgba(35, 29, 51, 1);
  --color-content-disabled: rgba(35, 29, 51, 0.4);
  --color-additive: rgba(35, 29, 51, 0.8);
  --color-assistive: rgba(35, 29, 51, 0.6);
  --color-fill-regular: rgba(154, 146, 173, 0.08);
  --color-outline-regular: rgba(154, 146, 173, 0.16);
  --color-fill-inverted: #141112;
  --color-inverted: #f2ebed;
  --color-disabled: rgba(51, 29, 36, 0.4);
  --color-divider-regular: rgba(173, 146, 155, 0.2);
  --color-danger-strong: rgba(255, 36, 75, 1);
  --color-success-strong: rgba(22, 184, 116, 1);
  --color-success-regular: rgba(22, 184, 116, 0.08);
  --color-fill-strong: rgba(154, 146, 173, 0.12);
  --color-dim-strong: rgba(35, 29, 51, 0.2);
  --color-divider-regular: rgba(154, 146, 173, 0.2);
  --color-fill-interactive: rgba(255, 255, 255, 0.8);
  --color-root-strong: rgba(244, 242, 247, 1);
  --color-fill-static: rgba(255, 255, 255, 1);
  --color-warning-strong: rgba(255, 191, 15, 1);

  --shadow-dim-weak: 0 0 16px 0 rgba(51, 29, 36, 0.08);
  --shadow-dim-regular: 0 8px 40px rgba(35, 29, 51, 0.12);
}
@layer utilities {
  .shadow-dim-weak {
    box-shadow: var(--shadow-dim-weak);
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
    overscroll-behavior: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: none;
  }
}

@layer base {
  html,
  body {
    @apply overscroll-none;
  }

  @media all and (display-mode: standalone) {
    @media screen and (width: 375px) and (max-height: 667px) {
      #root {
        padding-bottom: 0px;
      }
    }

    /* iPhone Xs, 13 mini 등 노치 + 작은 기기 */
    @media screen and (width: 375px) and (min-height: 700px) {
      #root {
        padding-bottom: 34px;
      }
    }

    /* iPhone 14 Pro 이상 */
    @media screen and (min-width: 393px) {
      #root {
        padding-bottom: 34px;
      }
    }
  }
}

html,
body {
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

body {
  height: 100dvh;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SUIT Variable", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  height: 100%;
}

#root {
  width: 444px;
  max-width: 444px;
  height: 100%;
  background-color: white;
  position: relative;
}

.custom-toast-container {
  width: 100%;
  padding: 0;
}

.custom-toast-box {
  display: absolute;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 12px 16px;
  max-width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-align: center;
}
